<!-- /templates/page.sca-affiliate.liquid -->
<section style="min-width:100%">
  {{page.content}}
  <iframe src="https://af.uppromote.com/hedonia-2/register" ></iframe>
  <script src="//d1639lhkj5l89m.cloudfront.net/js/verifylogin.js" ></script>
</section>