{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}
{% endcomment %}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section default-page">
  <section class="section__wrapper
                  section
                  ">
    <div class="container">
      {% section 'page__main' %}
       <script data-iframe='https://connect.studentbeans.com/v2/vesper247/uk' data-load='connect' id='stb_root' src='https://cdn.studentbeans.com/third-party/all.js'></script>
    </div>
    
  </section>
</main>
<style>
  main.is-width-standard {
    min-height: inherit;
}
</style>