{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<div class="klaviyo-form-RhkPiw"></div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
