

window.onload = function() {
 const addOptionsToSelect = () => {
      const allInps = document.querySelectorAll('[data-option-index="0"] label')
                  const customSelectBox = document.querySelector('.size_select')
         
                  document.querySelector('.size_select').addEventListener("change", () => {
                      for (let i = 0; i < document.querySelectorAll('[data-option-index="0"] label').length; i++) {
                          if (document.querySelectorAll('[data-option-index="0"] label')[i].innerText.includes(customSelectBox.value)) {
                              document.querySelectorAll('[data-option-index="0"] label')[i].click()
                              break;
                          }
                      }
                  })

  
    document.querySelectorAll(".swatch__options")[0].querySelectorAll("input").forEach((inp, ind) => {
            document.querySelector(".size_select").innerHTML += `
            <option value=${inp.value}>
            ${inp.value}
            </option>
            `
    })

  document.querySelectorAll(".swatch__options")[1].querySelectorAll("input").forEach((inp, ind) => {
    if(document.querySelectorAll(".swatch__options")[1].querySelectorAll("input").length > 1){
            document.querySelector(".color_select").innerHTML += `
            <option value=${inp.value}>
            ${inp.value}
            </option>
            `
    } else {
      document.querySelector(".custom-color-select").style.display = "none"
      document.querySelectorAll(".swatch__options")[1].style.display = "none"
    }
    })
  }


    addOptionsToSelect()


  // document.querySelectorAll(".quick-shop__buttons").forEach((viewBtn) => {
  //   viewBtn.addEventListener("click", () => {
  //     setTimeout(() => {
  //        document.querySelector('.size_select').addEventListener("change", () => {
  //                     for (let i = 0; i < document.querySelectorAll('[data-option-index="0"] label').length; i++) {
  //                         if (document.querySelectorAll('[data-option-index="0"] label')[i].innerText.includes(customSelectBox.value)) {
  //                             document.querySelectorAll('[data-option-index="0"] label')[i].click()
  //                             break;
  //                         }
  //                     }
  //                 })

  
  //   document.querySelectorAll(".swatch__options")[0].querySelectorAll("input").forEach((inp, ind) => {
  //           document.querySelector(".size_select").innerHTML += `
  //           <option value=${inp.value}>
  //           ${inp.value}
  //           </option>
  //           `
  //   })

  // document.querySelectorAll(".swatch__options")[1].querySelectorAll("input").forEach((inp, ind) => {
  //           document.querySelector(".color_select").innerHTML += `
  //           <option value=${inp.value}>
  //           ${inp.value}
  //           </option>
  //           `
  //   })
  //     }, 1000)
  //   } )
  // })

  
  document.querySelectorAll('.swatch__options')[1].classList.add("color_swatch_hide");
  document.querySelectorAll('.swatch')[0].classList.add("color_swatch_hide");
  // your other JavaScript code here...
document.querySelector('.custom_label_2').addEventListener('click', () =>{
    document.querySelector('.fit-me-button').click()
});

  document.querySelector('#sizing1').addEventListener('click', () =>{
    document.querySelector('.fit-me-button').click()
});

  document.querySelector('#sizing2').addEventListener('click', () =>{
    document.querySelector('.fit-me-chart').click()
});

  document.querySelector('.custom_mobile_img_select').addEventListener('click', () =>{
    document.querySelector('.fit-me-chart').click()
});


  const allInps = document.querySelectorAll('[data-option-index="0"] label')
                  const customSelectBox = document.querySelector('.size_select')
         
                  customSelectBox.addEventListener("change", () => {
                      for (let i = 0; i < allInps.length; i++) {
                          if (allInps[i].innerText.includes(customSelectBox.value)) {
                              allInps[i].click()
                              break;
                          }
                      }
                  })

  
  //   document.querySelectorAll(".swatch__options")[0].querySelectorAll("input").forEach((inp, ind) => {
  //           document.querySelector(".size_select").innerHTML += `
  //           <option value=${inp.value}>
  //           ${inp.value}
  //           </option>
  //           `
  //   })

  // document.querySelectorAll(".swatch__options")[1].querySelectorAll("input").forEach((inp, ind) => {
  //           document.querySelector(".color_select").innerHTML += `
  //           <option value=${inp.value}>
  //           ${inp.value}
  //           </option>
  //           `
  //   })
};

